#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logout-button {
  background-color: #f44336;
  color: white;
}
.logout-button:hover {
  background-color: #d32f2f;
  border-color: #d32f2f;
}
